@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:wght@300;400;700;900&display=swap');

/* Resetando estilos padrão */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Estilos gerais do corpo do documento */
body {
    font-family: "Poppins", sans-serif;
    background: var(--cinza);

}

/* Definição de variáveis de cores */
:root{
    --verde: rgb(0, 130, 65);
    --amarelo: rgb(255, 200, 5);
    --laranja: #ff7c37;
    --laranja2: #f94600;
    --degrade-btn: linear-gradient(#fe9611, #ff5c00);
    --cinza: #e2e2e2;
}

/* Classe para fundo verde */
.background-verde {
    background: url('bk-verde.jpg') no-repeat;
    background-position: 98%;
    max-width: 80%;
    /* Adiciona flexbox para alinhar à direita */
    margin-left: auto;
}


/* Linha decorativa */
.line {
    background: linear-gradient(to right, var(--amarelo), var(--laranja2));
    height: 20px;
    width: 100%;
    border: none;
    max-width: 80%;
    /* Adiciona flexbox para alinhar à direita */
    margin-left: auto;
    
}
/* Container Navbar */
.nav-container {
    max-width: 100%;
    padding: 0 5%;
    margin: 0 auto;
}
/* Classe reutilizável para container */
.container {
    max-width: 1400px;
    padding: 0 5%;
    margin: 0 auto;
}

/* Botão com gradiente */
.btn-gradient {
    padding: 10px 25px;
    color: white;
    background-image: var(--degrade-btn);
    border: none;
    cursor: pointer;
}

/* Estilos específicos do cabeçalho */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

/* Estilos do logo */
.logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

/* Estilos da lista de navegação */
.ul {
    display: flex;
    align-items: center;
}

/* Estilos dos itens da lista de navegação */
.ul li {
    margin: 0 30px;
    font-size: 15px;
}

/* Ícones da lista de navegação */
.ul li i{
    color: white ;
    font-size: 2.5rem;
}

/* Efeito de hover nos ícones */
.ul li i:hover{
    cursor: pointer;
}

/* Estilos dos links da lista de navegação */
.ul li a {
    color: white;
}

/* section menu */
.menu-container {
    background: white;
    width: 20%;
    height: 100vh;
    position: fixed;
    /* Alinha o elemento na lateral esquerda da tela */
    left: 0;
    /* Alinha o elemento com o topo da tela */
    top: 0;
    /* Alinha o elemento com a parte inferior da tela */
    bottom: 0;
    display: flex;
    flex-direction: column;
}

/* Caixa perfil */
.box-profile{
    background: url('bk-verde.jpg') no-repeat;
    background-position: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.profile-img{
    height: 90px;
    width: 90px;
    background-color: #e2e2e2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px var(--amarelo) solid;
    margin-top: 20px;
}
.profile-img i {
    font-size: 50px;
}
.text-user{
    color: white;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}
/* Fim Caixa perfil */
/* Linha menu */
.line-menu{
    background: linear-gradient(to right, var(--laranja2), var(--amarelo), var(--laranja2));
    height: 5px;
    width: 100%;
    border: none;
    /* Adiciona flexbox para alinhar à direita */
    margin-left: auto;
}
/* fim linha menu */
/* Menu botões */
.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.buttons button {
    height: 40px;
    border: none;
    cursor: pointer;
    background: transparent;
    /* Ajuste na posição do conteúdo para não estar centralizado verticalmente */
    display: flex;
    align-items: center;
    justify-content: center;

}
.buttons :hover{
    background: #e2e2e2;
}
/* Texto do botão */
.buttons button a{
    position: absolute;
    color: var(--verde);
    font-weight: 600;
    font-size: 16px;
    align-items: flex-start; /* Ajuste na posição do conteúdo para não estar centralizado verticalmente */
    left: 20px;

}
/* botão sair vermelho */
span {
    color: red;
}
/* fim Section Menu */

/* Main container */
.main-container {
    max-width: 77%;
    margin: 20px;
    margin-left: 20px;
    background-color: white;
     /* Adiciona flexbox para alinhar à direita */
    margin-left: auto;
    height: calc(100vh - 40px); /* Altura ajustada para preencher o espaço disponível na tela */
    border-radius: 40px;
    box-shadow: 0px 5px 30px 2px rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.conteudo {
    width: 90%;
    height: 90%;
    margin: auto;
    /* background: var(--cinza); */
}
.main-container {
    /* Outras propriedades CSS */
    position: relative; /* Adiciona posição relativa para referenciar a posição absoluta */
}

.conteudo {
    /* Outras propriedades CSS */
    position: relative; /* Adiciona posição relativa para referenciar a posição absoluta */
}

.arrow-back {
    position: absolute;
    top: 5px;
    right: -20px;
    cursor: pointer;
    width: 40px; /* Largura da seta */
    height: 40px; /* Altura da seta */
    border-radius: 50%; /* Formato da seta */
    background-color: var(--verde); /* Cor de fundo da seta */
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-back i {
    font-size: 24px; /* Tamanho do ícone */
    font-weight: 600;
    color: white; /* Cor do ícone */
}

/* Titulo */
.title{
    display: flex;
    flex-direction: column;
/*     background: paleturquoise; */

}
.title h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--verde);
}
.title p {
    margin-bottom: 30px;
}
.line-main {
    background: linear-gradient(to right, var(--laranja2), var(--amarelo), var(--laranja2));
    height: 5px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
}
/* graph select */
.graph-select {
    max-width: 100%;
    display: flex;
    /* background: pink; */
    justify-content: center;
}
.button-select {
    padding: 10px 15px;
    /* background: yellow; */
}
.button-select button {
    padding: 10px 15px;
    color: var(--verde);
    font-weight: 600;
    font-size: 16px;
    align-items: flex-start; /* Ajuste na posição do conteúdo para não estar centralizado verticalmente */
    left: 20px;
    padding: 10px 15px;
    border: 1px solid #aaa;
    border-radius: 10px;
    background: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.button-select button:hover {
    transform: translateY(-2px);
    transition: 0.2s;
    cursor: pointer;
}
/* End graph select */
.graph-container {
    margin-top: 20px;
   /*  background: #aaa; */
    display: flex;
    justify-content: center;
    height: 600px;
}

/* Form Filter */
.main-container form {
    position: relative;
    min-height: 10%;
    max-width: 100%;
    width: 100%;
    /* background-color: var(--laranja); */
    
}

.main-container form .dateils {
    margin-top: 10px;
}

.main-container form .title {
    display: flex;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    margin: 6px 0;
    color: var(--verde);
    justify-content: center;
}

.main-container form .fields {
    display: flex;
    align-items: center;
    justify-content: initial;
    flex-wrap: wrap;
   /*  background: purple; */
}

form .fields .input-field {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin-right: 20px;
    /* background: red; */

}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: var(--dkcinza);
}
.input-field input, select {
    padding: 0 15px;
    outline: none;
    font-weight: 400;
    color: var(--dkcinza);
    border: 1px solid #aaa;
    font-size: 14px;
    border-radius: 5px;
    margin: 9px 0;
    height: 42px;
}
.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
#line-table{
    margin-top: 40px;
}
.main-container form button{
    margin-top: 20px;
    color: var(--verde);
    font-weight: 600;
    font-size: 16px;
    align-items: flex-start; /* Ajuste na posição do conteúdo para não estar centralizado verticalmente */
    left: 20px;
    padding: 10px 15px;
    border: 1px solid #aaa;
    border-radius: 10px;
    background: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

}
.main-container form button:hover{
    transform: translateY(-2px);
    transition: 0.2s;
    cursor: pointer;
}

.search-button {
    display: flex;
    align-items: center;
}

.search-button i {
    margin-right: 5px;
}

/* End Form Filter */


/* Media query para telas menores */
@media screen and (max-width: 1366px) and (max-height: 768px) {
    .main-container {
        max-width: 77%;
        margin: 20px;
        margin-left: 20px;
        background-color: white;
        /* Adiciona flexbox para alinhar à direita */
        margin-left: auto;
        height: 1100px; /* Altura ajustada para preencher o espaço disponível na tela */
        border-radius: 40px;
        box-shadow: 0px 5px 30px 2px rgb(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .conteudo {
        max-width: 90%;
        max-height: 90%;
        width: 100%; /* Alterada para largura total */
        height: 100%; /* Alterada para altura automática */
        margin: auto;
        margin-top: 20px;
    }    
}

@media screen and (max-width: 630px) {
    .graph-card {
        width: calc(100% - 20px); /* 100% do espaço disponível menos a margem */
    }
}


/* Media queries para diferentes tamanhos de tela */


@media screen and (max-width: 1000px) {
    .background-verde {
        max-width: 75%;
    }
    .line{
        max-width: 75%;
    }
    /* section menu */
    .menu-container {
        width: 25%;
    }
    /* Main container */
    .main-container {
        max-width: 70%; /* Reduz a largura máxima para telas de até 900px */
    }
}

@media screen and (max-width: 630px) {
    .main-container {
        max-width: 95%; /* Reduz ainda mais a largura máxima para telas de até 630px */
    }
}

@media screen and (max-width: 300px) {
    .main-container {
        max-width: 100%; /* Para telas muito estreitas, ocupar 100% do espaço disponível */
        border-radius: 20px; /* Reduz a borda para telas muito estreitas */
    }
}