@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:wght@300;400;700;900&display=swap');

/* Resetando estilos padrão */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Estilos gerais do corpo do documento */
body {
    font-family: "Poppins", sans-serif;
    background: var(--cinza);

}

/* Definição de variáveis de cores */
:root{
    --verde: rgb(0, 130, 65);
    --amarelo: rgb(255, 200, 5);
    --laranja: #ff7c37;
    --laranja2: #f94600;
    --degrade-btn: linear-gradient(#fe9611, #ff5c00);
    --cinza: #e2e2e2;
}

/* Classe para fundo verde */
.background-verde {
    background: url('../imagens/bk-verde.jpg') no-repeat;
    background-position: 98%;
    max-width: 80%;
    /* Adiciona flexbox para alinhar à direita */
    margin-left: auto;
}


/* Linha decorativa */
.line {
    background: linear-gradient(to right, var(--amarelo), var(--laranja2));
    height: 20px;
    width: 100%;
    border: none;
    max-width: 80%;
    /* Adiciona flexbox para alinhar à direita */
    margin-left: auto;
    
}
/* Container Navbar */
.nav-container {
    max-width: 100%;
    padding: 0 5%;
    margin: 0 auto;
}
/* Classe reutilizável para container */
.container {
    max-width: 1400px;
    padding: 0 5%;
    margin: 0 auto;
}

/* Botão com gradiente */
.btn-gradient {
    padding: 10px 25px;
    color: white;
    background-image: var(--degrade-btn);
    border: none;
    cursor: pointer;
}

/* Estilos específicos do cabeçalho */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

/* Estilos do logo */
.logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

/* Estilos da lista de navegação */
.ul {
    display: flex;
    align-items: center;
}

/* Estilos dos itens da lista de navegação */
.ul li {
    margin: 0 30px;
    font-size: 15px;
}

/* Ícones da lista de navegação */
.ul li i{
    color: white ;
    font-size: 2.5rem;
}

/* Efeito de hover nos ícones */
.ul li i:hover{
    cursor: pointer;
}

/* Estilos dos links da lista de navegação */
.ul li a {
    color: white;
}

/* section menu */
.menu-container {
    background: white;
    width: 20%;
    height: 100vh;
    position: fixed;
    /* Alinha o elemento na lateral esquerda da tela */
    left: 0;
    /* Alinha o elemento com o topo da tela */
    top: 0;
    /* Alinha o elemento com a parte inferior da tela */
    bottom: 0;
    display: flex;
    flex-direction: column;
}

/* Caixa perfil */
.box-profile{
    background: url('../imagens/bk-verde.jpg') no-repeat;
    background-position: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.profile-img{
    height: 90px;
    width: 90px;
    background-color: #e2e2e2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px var(--amarelo) solid;
    margin-top: 20px;
}
.profile-img i {
    font-size: 50px;
}
.text-user{
    color: white;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}
/* Fim Caixa perfil */
/* Linha menu */
.line-menu{
    background: linear-gradient(to right, var(--laranja2), var(--amarelo), var(--laranja2));
    height: 5px;
    width: 100%;
    border: none;
    /* Adiciona flexbox para alinhar à direita */
    margin-left: auto;
}
/* fim linha menu */
/* Menu botões */
.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.buttons button {
    height: 40px;
    border: none;
    cursor: pointer;
    background: transparent;
    /* Ajuste na posição do conteúdo para não estar centralizado verticalmente */
    display: flex;
    align-items: center;
    justify-content: center;

}
.buttons :hover{
    background: #e2e2e2;
}
/* Texto do botão */
.buttons button a{
    position: absolute;
    color: var(--verde);
    font-weight: 600;
    font-size: 16px;
    align-items: flex-start; /* Ajuste na posição do conteúdo para não estar centralizado verticalmente */
    left: 20px;

}
/* botão sair vermelho */
span {
    color: red;
}
/* fim Section Menu */

/* Main container */
.main-container {
    max-width: 77%;
    margin: 20px;
    margin-left: 20px;
    background-color: white;
     /* Adiciona flexbox para alinhar à direita */
    margin-left: auto;
    height: 1000px; /* Altura ajustada para preencher o espaço disponível na tela */
    border-radius: 40px;
    box-shadow: 0px 5px 30px 2px rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.text-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 50px; /* Determina a margem entre conteúdo e main-container */

}
.text-container h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--verde);
    margin-bottom: 15px;
    text-align: center; /* Alinhamento do texto à esquerda */
    width: 100%; /* Garante que o elemento ocupe toda a largura disponível */
}
.line-main {
    background: linear-gradient(to right, var(--laranja2), var(--amarelo), var(--laranja2));
    height: 5px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
}
.text-container p{
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}
.text-container h3{
    font-size: 20px;
    color: var(--laranja);
    margin-top: 15px;
}
.text-container h4 {
    color: var(--verde);
    margin-bottom: 5px;
    margin-top: 10px;
}
.text-container ul{
    list-style: circle;
}
.text-container .intro-list, .text-container .conclusion, .text-container .thanks{
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.text-container .thanks{
    text-align: center;
    font-weight: 500;
}

/* Media queries para diferentes tamanhos de tela */


@media screen and (max-width: 1000px) {
    .background-verde {
        max-width: 75%;
    }
    .line{
        max-width: 75%;
    }
    /* section menu */
    .menu-container {
        width: 25%;
    }
    /* Main container */
    .main-container {
        max-width: 70%; /* Reduz a largura máxima para telas de até 900px */
    }
}

@media screen and (max-width: 630px) {
    .main-container {
        max-width: 95%; /* Reduz ainda mais a largura máxima para telas de até 630px */
    }
}

@media screen and (max-width: 300px) {
    .main-container {
        max-width: 100%; /* Para telas muito estreitas, ocupar 100% do espaço disponível */
        border-radius: 20px; /* Reduz a borda para telas muito estreitas */
    }
}
.profile-img, .profile-img2 {
    position: relative;
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: 100px; /* Ajuste o tamanho conforme necessário */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Cor de fundo opcional */
}

.profile-img img, .profile-img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.profile-img i, .profile-img2 i {
    font-size: 50px; /* Ajuste conforme necessário */
    color: #666; /* Cor do ícone */
}


