@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:wght@300;400;700;900&display=swap');

/* Resetando estilos padrão */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Estilos gerais do corpo do documento */
body {
    font-family: "Poppins", sans-serif;
    background: var(--cinza);

}

/* Definição de variáveis de cores */
:root{
    --verde: rgb(0, 130, 65);
    --amarelo: rgb(255, 200, 5);
    --laranja: #ff7c37;
    --laranja2: #f94600;
    --degrade-btn: linear-gradient(#fe9611, #ff5c00);
    --cinza: #e2e2e2;
    --dkcinza: #333;
}

/* Classe para fundo verde */
.background-verde {
    background: url('/imagens/bk-verde-2.jpg') no-repeat;
    background-position: 98%;
    max-width: 80%;
    /* Adiciona flexbox para alinhar à direita */
    margin-left: auto;
}


/* Linha decorativa */
.line {
    background: linear-gradient(to right, var(--amarelo), var(--laranja2));
    height: 20px;
    width: 100%;
    border: none;
    max-width: 80%;
    /* Adiciona flexbox para alinhar à direita */
    margin-left: auto;
    
}
/* Container Navbar */
.nav-container {
    max-width: 100%;
    padding: 0 5%;
    margin: 0 auto;
}
/* Classe reutilizável para container */
.container {
    max-width: 1400px;
    padding: 0 5%;
    margin: 0 auto;
}

/* Botão com gradiente */
.btn-gradient {
    padding: 10px 25px;
    color: white;
    background-image: var(--degrade-btn);
    border: none;
    cursor: pointer;
}

/* Estilos específicos do cabeçalho */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

/* Estilos do logo */
.logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

/* Estilos da lista de navegação */
.ul {
    display: flex;
    align-items: center;
}

/* Estilos dos itens da lista de navegação */
.ul li {
    margin: 0 30px;
    font-size: 15px;
}

/* Ícones da lista de navegação */
.ul li i{
    color: white ;
    font-size: 2.5rem;
}

/* Efeito de hover nos ícones */
.ul li i:hover{
    cursor: pointer;
}

/* Estilos dos links da lista de navegação */
.ul li a {
    color: white;
}

/* section menu */
.menu-container {
    background: white;
    width: 20%;
    height: 100vh;
    position: fixed;
    /* Alinha o elemento na lateral esquerda da tela */
    left: 0;
    /* Alinha o elemento com o topo da tela */
    top: 0;
    /* Alinha o elemento com a parte inferior da tela */
    bottom: 0;
    display: flex;
    flex-direction: column;
}

/* Caixa perfil */
.box-profile{
    background: url('/imagens/bk-verde-2.jpg') no-repeat;
    background-position: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.profile-img{
    height: 90px;
    width: 90px;
    background-color: #e2e2e2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px var(--amarelo) solid;
    margin-top: 20px;
}
.profile-img i {
    font-size: 50px;
}
.text-user{
    color: white;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}
/* Fim Caixa perfil */
/* Linha menu */
.line-menu{
    background: linear-gradient(to right, var(--laranja2), var(--amarelo), var(--laranja2));
    height: 5px;
    width: 100%;
    border: none;
    /* Adiciona flexbox para alinhar à direita */
    margin-left: auto;
}
/* fim linha menu */
/* Menu botões */
.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.buttons button {
    height: 40px;
    border: none;
    cursor: pointer;
    background: transparent;
    /* Ajuste na posição do conteúdo para não estar centralizado verticalmente */
    display: flex;
    align-items: center;
    justify-content: center;

}
.buttons :hover{
    background: #e2e2e2;
}
/* Texto do botão */
.buttons button a{
    position: absolute;
    color: var(--verde);
    font-weight: 600;
    font-size: 16px;
    align-items: flex-start; /* Ajuste na posição do conteúdo para não estar centralizado verticalmente */
    left: 20px;

}
/* botão sair vermelho */
#sair {
    color: red;
}
/* fim Section Menu */

/* Main container */
.main-container {
    max-width: 77%;
    margin: 20px;
    margin-left: 20px;
    background-color: white;
     /* Adiciona flexbox para alinhar à direita */
    margin-left: auto;
    height: calc(100vh - 40px); /* Altura ajustada para preencher o espaço disponível na tela */
    border-radius: 40px;
    box-shadow: 0px 5px 30px 2px rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main-container form {
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    max-width: 960px;
    width: 100%;
    /* background-color: var(--cinza); */
    
    
}

.main-container form .dateils {
    margin-top: 10px;
}

.main-container form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: var(--verde);
}

.main-container form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field {
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;

}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: var(--dkcinza);
}
.input-field input, select {
    padding: 0 15px;
    outline: none;
    font-weight: 400;
    color: var(--dkcinza);
    border: 1px solid #aaa;
    font-size: 14px;
    border-radius: 5px;
    margin: 9px 0;
    height: 42px;
}
.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
form .line-menu{
    margin-top: 20px;
}
.main-container form button{
    margin-top: 20px;
    color: var(--verde);
    font-weight: 600;
    font-size: 16px;
    align-items: flex-start; /* Ajuste na posição do conteúdo para não estar centralizado verticalmente */
    left: 20px;
    padding: 10px 15px;
    border: 1px solid #aaa;
    border-radius: 10px;
    background: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

}
.main-container form button:hover{
    transform: translateY(-2px);
    transition: 0.2s;
    cursor: pointer;
}


/* Media queries para diferentes tamanhos de tela */


@media screen and (max-width: 1000px) {
    .background-verde {
        max-width: 75%;
    }
    .line{
        max-width: 75%;
    }
    /* section menu */
    .menu-container {
        width: 25%;
    }
    /* Main container */
    .main-container {
        max-width: 70%; /* Reduz a largura máxima para telas de até 900px */
    }
    
    .main-container {
        max-width: 70%;
    }
    form .fields .input-field {
        width: calc(40% - 2px);
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (max-width:750px) {
    .main-container form {
        overflow-y: scroll;
        position: relative;
        margin-top: 16px;
        max-height: 10px;
        max-width: 490px;
        width: 100%;
    }
    .main-container form::-webkit-scrollbar{
        display: none;
    }
    form .fields .input-field {
        width: calc(100% / 1);
        margin-left: 30px;
        margin-right: 30px;
    }
    .main-container form button {
        margin-right: 60%;
        margin-left: 40%;
    }
}
@media screen and (max-width: 630px) {
    .main-container {
        max-width: 95%; /* Reduz ainda mais a largura máxima para telas de até 630px */
    }
}

@media screen and (max-width: 300px) {
    .main-container {
        max-width: 100%; /* Para telas muito estreitas, ocupar 100% do espaço disponível */
        border-radius: 20px; /* Reduz a borda para telas muito estreitas */
    }
}
